body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background-color: #157186;
    color: white;
    text-align: center;
    padding: 1em 0;
}

header h1, header p {
    margin: 0.2em 0;
}

section {
    padding: 2em;
    text-align: center;
}

#about {
    padding: 2em 0;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#about img {
    width: 150px;
    border-radius: 50%;
    margin-top: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 20px; /* espace entre l'image et le texte */
}

#about .about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    text-align: left;
}

#about .about-content p {
    margin: 0;
}

.skills-grid, .projects-grid, .education-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 5em;
    padding: 2em 0;
}

.skill, .project, .education {
    background-color: white;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.skill img, .project img, .education img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin: 1em 0 0.5em;
}

form input, form textarea {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1em;
}

form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 1em;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #45a049;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    padding: 2em 0;
}

.education-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    padding: 2em 0;
}
